<a href="https://colab.research.google.com/github/Temur0122/Pandas_tutorial/blob/main/1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [15]:
from pandas import Series

In [16]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [17]:
type(cars_dict)

dict

In [18]:
cars1 = Series(cars_dict)
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [19]:
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [20]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu','Toyota', 'BMW', 'Mercedes']

In [21]:
cars2 =Series(cars_dict, index= models)
cars2

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64